.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.selector {
  display: flex;
}

.selectorButton {
  margin-bottom: 1vmin;
  margin-left: 1vmin;
  margin-right: 1vmin;
  padding: 3vmin;
}

.pad {
  height: 20vmin;
  width: 20vmin;
  display: flex;
  text-align: start;
  align-items: flex-end;
}

.pad:hover {
  opacity: 80%;
}

.drumBox {
  width: 60vmin;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1.5vmin;
}

.sequencer {
  display: flex;
  flex-direction: row;
}

.seqInst {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.instPad {
  height: 6vmin;
  width: 15vmin;
  margin-top: 2vmin;
}
.instPad:hover {
  opacity: 80%;
}

.singleBeat {
  display: flex;
  flex-direction: row;
}

.beatColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.5vmin;
}

.beatButton {
  height: 6vmin;
  width: 6vmin;
  margin-top: 2vmin;
}

.beatButtonEven {
  height: 6vmin;
  width: 6vmin;
  margin-top: 2vmin;
  background-color: grey;
}

.seqBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 2vmin;
}

.semis {
  display: flex;
}

.semi {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmin;
  margin-left: 1vmin;
}
